.app-info {
  padding: 25px;
  margin-bottom: 10px;
  background-color: rgb(196, 214, 235);
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
  color: black;
}

.app-info-right {
  float: right;
}

